.App {
  text-align: center;
}

.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.containerNav {
  width: 90%;
  margin: auto;
  max-width: 1370px;
}

.Button {
  background-color: #9cced4;
  margin: 3px;
}

.Option {
  margin-left: 15px;
  border: none;
  border-radius: 10px;
  padding: 40px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  font-size: 90%;
  margin: 0 0 0 1.5rem;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CardItem {
  margin: 5rem;
}

.col {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-rows: auto;
  justify-content: center;
  max-width: 100%;
  height: 10rem;
}

.NavLink:hover {
  opacity: 0.65;
}

.iconoCarrito {
  background-color: #9cced4;
  border-radius: 12px;
  display: flex;
  align-items: center;
}

.carrito {
  padding: 5px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
